@model MVCPractice.Models.DataEmployee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div>
        @using (Html.BeginForm("SubmitData", "Validations", FormMethod.Post))
        {

            @Html.Label("First Name")
            @Html.TextBoxFor(x => x.FirstName)<br /><br />
            @Html.ValidationMessageFor(x => x.FirstName)<br />

            @Html.Label("Last Name")
            @Html.TextBoxFor(x => x.LastName)<br /><br />
            @Html.ValidationMessageFor(x => x.LastName)<br />


            @Html.Label("Email")
            @Html.TextBoxFor(x => x.Email)<br /><br />
            @Html.ValidationMessageFor(x => x.Email)<br />

            @Html.Label("Age")
            @Html.EditorFor(x => x.Age)<br /><br />
            @Html.ValidationMessageFor(x => x.Age)<br />


            @*@Html.TextBox("FirstName")<br /><br/>
                @Html.ValidationMessage("Name is required")
                @Html.Label("Last Name")
                @Html.TextBox("LastName")<br /><br />

                @Html.Label("Email")
                @Html.TextBox("Email")<br /><br />

                @Html.Label("Age")
                @Html.Editor("Age")<br /><br />
            *@
            <input type="submit" value="Click me" />
        }
    </div>
    <script>
        $(document).ready(function () { alert("Dom is ready") });
    </script>
    
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   </body>
</html>
