@model MVCPractice.Models.Employees

@{
    ViewBag.Title = "GetEmployee";
}

<h2>GetEmployee</h2>




<h3>@ViewBag.output</h3>


<h4>@Html.DisplayNameFor(x => x.Id) -  @Html.DisplayFor(Model => Model.Id) </h4>
<hr />
<h4>@Html.DisplayNameFor(x => x.Name) -  @Html.DisplayFor(Model => Model.Name) </h4>

<hr />
<h4>@Html.DisplayNameFor(x => x.Address) -  @Html.DisplayFor(Model => Model.Address) </h4>