@model IEnumerable<MVCPractice.Models.Employees>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>@Html.DisplayNameFor(x => x.Id)</th>
        <th>@Html.DisplayNameFor(x => x.Name)</th>
        <th>@Html.DisplayNameFor(x => x.Address)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(Item => item.Id)</td>
            <td>@Html.DisplayFor(Item => item.Name)</td>
            <td>@Html.DisplayFor(Item => item.Address)</td>
        </tr>
    }
</table>
@*

//Inline html whihc is used in same page if we delclare same mylist with diifrent variables so it print two times. 
<ul>
    //decleration
    @helper mylist(string[] arr)
    {
        foreach (var data in arr) 
        {
        <li>@data</li>
        }
    }
</ul>
@mylist(new string[]{ "abc","xyz"})*@